@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService

<div>
    <CascadingAuthenticationState>
        <AuthorizeView>
            <NotAuthorized>
                <h2>
                    Witamy w pomocy koleżeńskiej!
                </h2>
                <p>
                    Zaloguj się, aby przeglądać najnowsze wpisy
                </p>
            </NotAuthorized>
            <Authorized>
                <main>
                    <h2>
                        Twoje wpisy
                    </h2>
                    <div>
                        TODO
                    </div>
                    <h2>
                        Ostatnie wpisy
                    </h2>
                    <div>
                        TODO
                    </div>
                </main>
            </Authorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</div>