@using dotnetBB.Models.Request
@using Microsoft.AspNetCore.Authentication

@inject IJSRuntime JSRuntime
@inject UserService UserService

<form @formname="LogoutForm" @onsubmit="@Submit" method="post">
    <AntiforgeryToken/>
    <button type="submit" class="btn btn-link p-0 text-decoration-none link-danger">Log out</button>
</form>

<script>
    function submitLogoutForm() {
        $.ajax({
            url: "/auth/logout",
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: () => {
                document.location.href = "/"; 
            }
        });
    }
</script>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private async Task Submit()
    {
        if (HttpContext is not null)
        {
            await HttpContext.SignOutAsync();
            HttpContext.Response.Redirect("/");
            return;
        }
        
        await JSRuntime.InvokeVoidAsync("submitLogoutForm");
    }
}