@using dotnetBB.Models.Request
@using Microsoft.AspNetCore.Authentication

@inject IJSRuntime JSRuntime
@inject UserService UserService

<form @formname="LogoutForm" @onsubmit="@Submit" method="post">
    <AntiforgeryToken/>
    @if (IsLoggingOut)
    {
        <button id="logging-in" class="btn btn-dark align-self-center" disabled>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Logging out...</span>
        </button>
    }
    else
    {
        <button type="submit" class="btn btn-dark align-self-center">Log out</button>
    }
</form>

<script>
    function submitLogoutForm() {
        $.ajax({
            url: "/auth/logout",
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: () => {
                document.location.reload(); 
            }
        });
    }
</script>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private bool IsLoggingOut { get; set; }

    private async Task Submit()
    {
        if (HttpContext is not null)
        {
            await HttpContext.SignOutAsync();
            HttpContext.Response.Redirect(HttpContext.Request.Path);
            return;
        }

        IsLoggingOut = true;
        await JSRuntime.InvokeVoidAsync("submitLogoutForm");
    }
}