<footer class="d-flex justify-content-center w-100 bg-body-tertiary py-2">
    <div class="d-flex justify-content-between">
        <div></div>
        <div>
            <label>Powered by <a href="https://github.com/taj-ny/dotnetBB" class="link-body-emphasis">@nameof(dotnetBB)</a></label>
        </div>
    </div>
</footer>