@inherits LayoutComponentBase

<div class="page">
    <NavigationBar/>
    
    <main class="content align-self-center mt-4">
        <noscript>
            <div class="alert alert-secondary" role="alert">
                <i class="bi-info-circle me-2"></i> JavaScript is disabled. Enable JavaScript for a better experience.
            </div>
        </noscript>
        @Body
    </main>
    
    <Footer/>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>