@using dotnetBB.Components.Shared.Forms.Authentication
@using dotnetBB.Authorization

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="#">dotnetBB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <a href="/account" class="link-body-emphasis me-3 text-decoration-none">@context.User.GetClaim(ClaimTypes.Username)</a>
                    </Authorized>
                    <NotAuthorized>
                        <div class="d-flex btn-group">
                            <a href="/login" id="btn-login" class="btn btn-dark js-no-href" data-bs-toggle="modal" data-bs-target="#loginModal">Log in</a>
                            <a href="/register" id="btn-register" class="btn btn-dark js-no-href" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
    </div>
</nav>


<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Log in</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-0">
                <LoginForm FormName="LoginForm-nav"/>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="registerModalLabel">Register</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-0">
                <RegisterForm FormName="registerForm-nav"/>
            </div>
        </div>
    </div>
</div>
