<footer class="d-flex justify-content-center w-100 bg-body-tertiary py-2">
    <div class="d-flex justify-content-center">
        <label>Powered by <a href="https://github.com/taj-ny/PomocKolezenska" class="link-body-emphasis">@nameof(PomocKolezenska)</a></label>
    </div>
</footer>