<footer class="d-flex justify-content-center w-100 bg-body-tertiary py-2">
    <div class="d-flex justify-content-center">
        <label>Stworzone przez 
            <a href="https://github.com/taj-ny">taj-ny</a>
            we wspópracy z 
            <a href="https://github.com/d2dyno1">d2dyno</a>
            </label>
    </div>
</footer>