@using PomocKolezenska.Components.Shared.Forms.Authentication
@using PomocKolezenska.Authorization
@using PomocKolezenska.Components.Pages

@inject ApplicationDbContext ApplicationDbContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject UserService UserService

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="/">Pomoc Koleżeńska</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tutors">Korepetytorzy</a>
                </li>
            </ul>
            
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <div class="d-flex align-items-center">
                            <a href="/account" class="link-body-emphasis me-3 text-decoration-none">
                                @context.User.GetClaim(ClaimTypes.Username)
                                @context.User.GetClaim(ClaimTypes.UserImage)
                            </a>
                            <img class="img-thumbnail rounded-circle" src="data:image/png;base64, @(UserImage)" width="32"/>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="d-flex btn-group">
                            <a
                                class="btn btn-dark"
                                @onclick="OnLoginClick"
                                @onclick:preventDefault="true">
                                Logowanie
                            </a>
                            <a
                                class="btn btn-dark"
                                @onclick="OnRegisterClick"
                                @onclick:preventDefault="true">
                                Rejestracja
                            </a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
    </div>
</nav>

<StaticModal @ref="LoginModal" Title="Logowanie" Size="ModalSize.Large">
    <BodyTemplate>
        <LoginForm />
    </BodyTemplate>
</StaticModal>

<StaticModal @ref="RegisterModal" Title="Rejestracja" Size="ModalSize.Large">
    <BodyTemplate>
        <RegisterForm />
    </BodyTemplate>
</StaticModal>