@using PomocKolezenska.Components.Shared.Forms.Authentication
@using PomocKolezenska.Authorization
@using PomocKolezenska.Components.Pages

@inject ApplicationDbContext ApplicationDbContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject UserService UserService

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-0">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active bg-secondary-subtle p-2 ps-3 pe-3 rounded-2" aria-current="page" href="/">Strona główna</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active bg-secondary-subtle p-2 ps-3 pe-3 rounded-2" aria-current="page" href="/tutors">Korepetytorzy</a>
                            </li>
                        </ul>
                        <a href="/account" class="d-flex gap-2 align-items-center bg-secondary-subtle p-2 ps-3 pe-3 rounded-2 link-body-emphasis me-3 text-decoration-none">
                            @context.User.GetClaim(ClaimTypes.Username)
                            @context.User.GetClaim(ClaimTypes.UserImage)
                            <img class="img-thumbnail rounded-circle" src="data:image/png;base64, @(UserImage)" width="32"/>
                        </a>
                    </Authorized>
                    <NotAuthorized>
                        <div class="navbar-nav me-auto mb-2 mb-lg-0"></div>
                        <div class="d-flex btn-group shadow">
                            <a
                                class="btn btn-light"
                                @onclick="OnLoginClick"
                                @onclick:preventDefault="true">
                                Zaloguj się
                            </a>
                            <a class="btn btn-light"
                               @onclick="OnRegisterClick"
                               @onclick:preventDefault="true">
                                Stwórz konto
                            </a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
    </div>
</nav>

<StaticModal @ref="LoginModal" Title="Zaloguj się" Size="ModalSize.Large">
    <BodyTemplate>
        <LoginForm />
    </BodyTemplate>
</StaticModal>

<StaticModal @ref="RegisterModal" Title="Zarejestruj się" Size="ModalSize.Large">
    <BodyTemplate>
        <RegisterForm />
    </BodyTemplate>
</StaticModal>