@using PomocKolezenska.Components.Shared.Forms.Authentication
@using PomocKolezenska.Components.Shared.Navigation.Sidebar

@inherits LayoutComponentBase
@layout Layout.MainLayout

<div class="d-flex gap-5">
    <div class="p-4 rounded-3 h-75 bg-body-tertiary">
        <NavigationSidebar>
            <NavigationSidebarSection Header="Nawigacja">
                <NavigationSidebarSectionLinkItem Href="/account">Konto</NavigationSidebarSectionLinkItem>
                <NavigationSidebarSectionLinkItem Href="/account/contact">Informacje o koncie</NavigationSidebarSectionLinkItem>
            </NavigationSidebarSection>
            <NavigationSidebarSection>
                <NavigationSidebarSectionItem>
                    <LogoutForm/>
                </NavigationSidebarSectionItem>
            </NavigationSidebarSection>
        </NavigationSidebar>
    </div>

    <div class="flex flex-column w-100">
        @Body
    </div>
</div>