@attribute [Authorize]
@page "/account"

@layout AccountLayout
@inject UserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Account details</h1>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <FieldSet>
                <Field Label="Username:">
                    <div class="input-group">
                        <input @bind="UsernameText" class="input-group-text w-75"/>
                        <Button Color="ButtonColor.Primary" class="form-control" onclick=@(ChangeProfileNameAsync())>Change</Button>
                    </div>
                </Field>
                <Field Label="Profile picture:">
                    <div class="form-group d-flex flex-column justify-content-center align-items-start">
                        <img alt="Profile picture" class="img-thumbnail profile-picture" src="data:image/jpg;base64, @(UserImage)" />
                        <InputFile OnChange="ChangeProfilePictureAsync" accept=".png">Change</InputFile>
                    </div>
                </Field>
                <Field Label="Password:">
                    <Button Color="ButtonColor.Primary" class="form-control w-auto">Change</Button>
                </Field>
            </FieldSet>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>