@attribute [Authorize]
@page "/account"

@layout AccountLayout
@inject ApplicationDbContext ApplicationDbContext
@inject UserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Twoje konto</h1>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <FieldSet>
                <Field>
                    <div class="form-group d-flex flex-row justify-content-start align-items-center gap-4">
                        <img alt="Profile picture" class="img-thumbnail rounded-circle" width="120" src="data:image/jpg;base64, @(UserImage)" />
                        <div class="d-flex flex-column gap-3">
                            <Field LabelClass="me-0">
                                <div class="input-group w-100">
                                    <input @bind="UsernameText" class="input-group-text w-75" />
                                    <Button Color="ButtonColor.Primary" class="form-control" onclick=@(ChangeProfileNameAsync())>Ustaw</Button>
                                </div>
                            </Field>
                            <div>
                                <label for="inputFile" class="p-2 rounded-2 bg-body-secondary">Zmieñ zdjêcie profilowe</label>
                                <InputFile id="inputFile" OnChange="ChangeProfilePictureAsync" class="visually-hidden" accept=".png">Change</InputFile>
                            </div>
                        </div>
                    </div>
                </Field>
     
                <Field>
                    <div class="d-flex p-3 rounded-2 bg-body-tertiary flex-row gap-4 align-items-center">
                        <label>Zmieñ has³o do konta</label>
                        <Button Color="ButtonColor.Primary" class="form-control w-auto">Zmieñ</Button>
                    </div>
                </Field>
            </FieldSet>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>