@using dotnetBB.Components.Shared

@page "/login"

<h1>Log in</h1>

<div id="login-form-container" class="d-flex justify-content-center align-items-center shadow-lg p-3 rounded-3">
    <LoginForm/>
</div>
