@namespace PomocKolezenska.Components

<div class="form-row flex-row d-flex @Class">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="w-33 me-3 align-self-center @LabelClass">@Label</label>
    }
    <div class="w-100">
        @ChildContent
    </div>
</div>