@namespace PomocKolezenska.Components

<div class="form-row flex-row d-flex">
    <label class="w-33 me-3 align-self-center">@Label</label>
    <div class="w-67">
        @ChildContent
    </div>
</div>