<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <base href="/"/>
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap-icons/bootstrap-icons.min.css"/>
        <link rel="stylesheet" href="app.css"/>
        <link rel="stylesheet" href="dotnetBB.styles.css"/>
        <link rel="icon" type="image/png" href="favicon.png"/>
        <HeadOutlet/>
        <noscript><style> .script { display: none !important; } </style></noscript>
    </head>
    <body>
        <script src="bootstrap/bootstrap.bundle.min.js"></script>
        <Routes/>
        <script src="_framework/blazor.web.js"></script>
        <script src="app.js"></script>
    </body>
</html>