@using dotnetBB.Components.Shared.Navigation.Sidebar

@inherits LayoutComponentBase
@layout Layout.MainLayout

<div class="d-flex gap-5">
    <NavigationSidebar>
        <NavigationSidebarSection Header="Settings">
            <NavigationSidebarSectionItem Href="/account">Account details</NavigationSidebarSectionItem>
            <NavigationSidebarSectionItem Href="/account/privacy">Privacy</NavigationSidebarSectionItem>
            <NavigationSidebarSectionItem Href="/account/preferences">Preferences</NavigationSidebarSectionItem>
        </NavigationSidebarSection>
    </NavigationSidebar>

    @Body
</div>