@using dotnetBB.Components.Shared.Navigation.Sidebar

@inherits LayoutComponentBase
@layout Layout.MainLayout

<div class="d-flex gap-5">
    <NavigationSidebar>
        <NavigationSidebarSection Header="Settings">
            <NavigationSidebarSectionLinkItem Href="/account">Account details</NavigationSidebarSectionLinkItem>
            <NavigationSidebarSectionLinkItem Href="/account/privacy">Privacy</NavigationSidebarSectionLinkItem>
            <NavigationSidebarSectionLinkItem Href="/account/preferences">Preferences</NavigationSidebarSectionLinkItem>
        </NavigationSidebarSection>
    </NavigationSidebar>

    @Body
</div>